name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-go-app-bin:
    name: build og app binary
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: set up Go
        uses: actions/setup-go@v4
        with:
            go-verson: 1.20

      - name: verify dependencies
        run: go mod verify

      - name: build go
        run: go build

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Require: The version of golangci-lint to use.
          # When `install-mode` is `binary` (default) the value can be v1.2 or v1.2.3 or `latest` to use the latest version.
          # When `install-mode` is `goinstall` the value can be v1.2.3, `latest`, or the hash of a commit.
          version: v1.54

  other-linters-and-static-checks:
    name: run other linters and static checks
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2


      - name: set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: gofmt
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

      - name: staticcheck
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck ./...

      - name: vet
        run: go vet $(go list ./...)
